input[type=text] {
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    border: none;
    color: black;
    margin: 4px 2px;
    cursor: pointer;
}

h3 {
  font-size: 14px;
  border-bottom: 2px;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  padding: 20px;
  line-height: 0.3;
}ß
